<section ng-controller="HomeController">
    
  
    
    
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
          <p class="lead">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
          
        UPKAR MEADOWS OWNER'S ASSOCIATION
      </p>
      </div>
    </div>
        
        
    <div class="row">  
    <div id="top-body" >
      <div id="images" class="theme-default">
        <ul id="slider">
          <li><img src="modules/core/client/views/images/placeholders/slide1.jpg" alt="" /></li>
          <li><img src="modules/core/client/views/images/placeholders/slide2.jpg" alt="" /></li>
          <li><img src="modules/core/client/views/images/placeholders/slide3.jpg" alt="" /></li>
        </ul>
      </div>
    </div>        
    </div>
    
  </div>
      
  
  <div class="row">
    <div class="col-md-4">
      <h2><strong>A</strong>bout</h2>
      <p>Upkar Meadows is a residential layout near electronic city, Bangalore. Its a very fast developing location with well connected roads and facilities. Very peaceful and clean environment srrounding the layout makes it an ideal place for dream home... </p>
    </div>
    <div class="col-md-4">
      <h2><strong>A</strong>menities</h2>
      <p>Amenities existing/Proposed at layout
        <ul class="listed-items">
        <li>Swimming Pool</li>
        <li>Club House</li>
        <li>Parks</li>
        <li>Joggers Track</li>
        <li>Basket Ball Court</li>
        <li>Badminton Court</li>
        <li>Tennis Court</li>
        </ul>
        </p>
    </div>
    <div class="col-md-4">
      <h2><strong>U</strong>pdates</h2>
      <p>Updates at layout
        <ul class="listed-items">
        <li>Swimming Pool</li>
        <li>Club House</li>
        <li>Parks</li>
        <li>Joggers Track</li>
        <li>Basket Ball Court</li>
        <li>Badminton Court</li>
        <li>Tennis Court</li>
        </ul>
        </p>
    </div>
    
  </div>

  <div class="well">
   
     <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
      
        <h2>On the internet</h2>
        <ul>
          <li> <a href="#"> <img src="images/icons/32/facebook.png" alt="" /> </a> </li>
          <li> <a href="#"> <img src="images/icons/32/google+.png" alt="" /> </a> </li>
          <li> <a href="#"> <img src="images/icons/32/twitter.png" alt="" /> </a> </li>
          <li> <a href="#"> <img src="images/icons/32/rss.png" alt="" /> </a> </li>
          <li> <a href="#"> <img src="images/icons/32/utube.png" alt="" /> </a> </li>
          <li> <a href="#"> <img src="images/icons/32/skype.png" alt="" /> </a> </li>
        </ul>
      </div>
          
         </div>
      <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
      
        <h2>Quick Contact</h2>
      <div id="message" style="display:none;"></div>
      <div class="clear"></div>
      <form action="#" id="quick-contact">
        <label for="user-email" class="left " > Email Address:</label>
        <input type="text" name="user-email" id="user-email" value="" maxlength="40" class="right email required"/>
        <div class="clear"></div>
        <label for="user-message" class="left">Message:</label>
        <textarea cols="" rows="3" id="user-message" name="user-message" class="right required"></textarea>
        <div class="clear"></div>
        <input type="submit" class="quick-submit shadow right" style="" value="Send message"/>
      </form>
    </div>
          </div>
      </div>
  
  <br>Copyright &copy; Upkarmeadows.com- All Rights Reserved
</section>
